
body{
    margin: 0;
    padding: 0;
    font-family: 'Plus Jakarta Sans', sans-serif;
    height: 100%;
    overflow-x: hidden;
}
a {
    text-decoration: none;
}
/* login */
#login {
    background: linear-gradient(0deg, rgba(0, 47, 255, 0.26), rgba(0, 47, 255, 0.26)), #000957;
}
#wrapper_out_login{
    background-color: white;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    height: 500px;
    width: 1000px;
    border-radius: 10px;
}
#c_name {
    color: #EBE645;
}
#c_name span{
    color: #344CB7;
}
#g_mobil{
    width: 500px;
    height: 500px;
    position: relative;
    top: -1em;
    left: -2.5em;
    background-image: url(../style/img/gambarmobil.jpg);
    border-radius:9px 0px 0px 9px ;
}
#form_login{
    position: relative;
    text-align: center;
    top: -8.1em;
    right: -1.3em;
}
#wrapper_out_login li{
    display: inline-block;
}
#userinput{
    position: relative;
    padding: 0;
    margin-top: 25px;
    
}
#username::placeholder{
    font-size: large;
    font-weight: bold;
    position: absolute;
}
#username{
    border:none ;
    border-bottom: 2px solid #EBE645;
    height:50px;
    padding-left: 50px;
    font-size: 1.2em;
}
#password {
    border:none ;
    border-bottom: 2px solid #EBE645;
    height:50px;
    padding-left: 50px;
    font-size: 1.2em;
}
#icons{
    position:absolute;
    bottom: 17px;
    padding-right: 10px;
    left:5px;
    width:25px;
    height:25px;
}
button#b_login{
    margin-top: 2em;
    padding: 10px;
    font-size: x-large;
    font-weight: bold;
    background-color: #344CB7;
    color: white    ;
    border: none;
    border-radius: 5px;
}
/* responsife login */
@media screen and (max-width: 700px) {
    #g_mobil{
        display: none;
    }
    #form_login {
        position: relative;
        margin: 13em 10em 1em -8px;
    }
    #wrapper_out_login{
        overflow: hidden;
        width: 350px;
    }
    #username,#password{
        width: 200px;
    }
  }
/* index & user */
#conten_wrp{
    position: relative;
    margin:-1.5% 5% 0% 5%;
}
#sidebar{
    background-color:#000957;
    width : 35vh;
    height: 80vh;
    /* margin: 10vh 0vh 10vh 5vh ; */
    text-align: center;
    border-radius: 10px;
}
#sidebar_in{
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    height: 500px;
    width: 12em;
    border-radius: 10px;
}
#c_name_wrp{
    top: 5em;
    position: relative;
}
#c_name_index{
    color: #EBE645;
    
}
#c_name_index span{
    color: #344CB7;
}
#prd_wrp {
    top: 7em;
    position: relative;
}
#usr_wrp {
    top: 8em;
    position: relative;
}
#l_out_wrp {
    top: 10em;
    position: relative;
}
#prd_wrp a, #usr_wrp a, #l_out_wrp a {
    color: white;
}
nav{
    text-align: center;
    position: relative;
    top: 6.4em;
}
nav ol li {
    list-style: none;
    display: inline-block;
}
nav ol li #c_name_wrp{
    display: none;
}
#close{
    display: none;
}
#menu_bar{
    display: none;
}
#tambah {
    position: relative;
    left: -10em;
}
#tambah a button h2 {
    background-color: #000957;
    color: #EBE645;
    font-weight: bold;
    font-size: large;
    width: fit-content;
    position: relative;
    top: -2px;
    /* padding: 15px; */
    padding: 10px 20px 21px 20px;
    border-radius: 10px;
}
#tambah button {
    border: none;
    background-color: transparent;
}
#tambah a span {
    font-size: x-large;
}
#src_form {
    position: relative;
}
#src_input {
    padding: 20px 10px 20px 10px;
    background-color: #000957;
    border: none;
    border-radius: 10px;
    color: white;
    font-size: large;
}
#src_button {
    position: relative;
    top: 11px;
    left: -4.3em;
    background-color: #000957;
    border-radius: 10px;
    border: none;
}
#src_button svg{
    width: 41px;
    height: 41px;
    fill: #EBE645;
}
#table {
    position: relative;
    margin-left: 21.3em;
    margin-top: -39.3em;
    /* border: solid 1px; */
    width: max-content;
}
#table td, #table th{
    padding: 2.60em;
}
#table tr td img {
    height: 150px;
}
table,tr {
    border: 1px solid black;
    border-collapse: collapse;
    width: 1306px;
}
#edit {
    fill: green;
}
#hapus {
    fill: red;
}
#paginations {
    color: #000957;
    margin-top: 1em;
    margin-left: 64em;
    font-size: x-large;
}
#paginations_user{
    color: #000957;
    position: relative;
    margin-top: 1 em;
    margin-left: 50em;
    font-size: x-large;   
}
#btn_benar{
    margin-top: 1em;
    padding: 1em;
    background-color: #2AFF07;
    font-size: large;
    border: none;
    border-radius: 5px;
    /* margin-left: 5em; */
}
#btn_salah{
    padding: 1em;
    background-color: red;
    font-size: large;
    border: none;
    border-radius: 5px;
    margin-top: 1em;
    /* margin-left: 8em; */
}
#conten_wrp_tambah {
    position: relative;
    margin: 5%;
}
#wrp_tbh{
    position: relative;
    top: -33.55em;
    right: 50em;
    left: 30em;
}
#content:not(:target) {
    text-align: center;
    background-color: #000957;
    width: 500px;
    padding: 1em;
    border-radius: 20px;
    display: none;
}
#form_tambah h1 {
    color: #EBE645;
    text-align: center;
}
#namaproduk,#hargaproduk,#stokproduk{
    margin-top: 1em;
    padding: 1em;
    border: none;
    border-radius: 3px;
    background-color: white;
    color: black;
    font-size: 1.2em;
}
#namaproduk::placeholder,#hargaproduk::placeholder,#stokproduk::placeholder{
    font-size: x-large;
    color: black;
}
#userinput_tambah_g{
    margin: 1em 33.5%;
    text-align: center;
    padding: 10px 2em ;
    width: max-content;
    border: none;
    border-radius: 3px;
    background-color: white;
    color: black;
    font-size: 1em;
  }
  #gambarproduk{
    display: none;
  }
  #gambarproduk_tbh{
    display: none;
  }
  #l_gamarp{
    cursor:pointer;
  }
  #addphoto{
    color:green;
  }
#wrp_tbh:target #content {
    display: block;
    transition: 0.56s;
    position: absolute;
    left: 30%;
    right: 50%;
    top: 15%;
}
#wrp_tbh:target  {
    position: absolute;
    top: -20px;
    bottom: 0;
    right: -10em;
    left: -10em;
    width: 160%;
    height: 250%;
    background-color: rgb(0, 0, 0,.5);
}
@media screen and (max-width: 700px) {
    #conten_wrp{
        overflow-x:hidden ;
        width: 100vw;
        margin: 0;
    }
    #sidebar{
        display:none ;
    }
    #conten_wrp:target #sidebar{
        display:block;
        border-radius: 0;
        width: 100%;
    }
    #conten_wrp:target #menu_bar {
        display: none;
    }
    #conten_wrp:target #close {
        display: block;
        margin-right: -10em;
        margin-top: -5em;
    }
    #conten_wrp:target #sidebar #c_name_index {
        display: none;
    }
    #conten_wrp:target {
        overflow-y: hidden;
    }
    #tambah {
        margin-left: 33%;
        float:left 
    }
    nav{
        margin-top: -2em;
        margin-left:  -21px;
    }
    #close{
        display: none;
    }
    #src_form{
        position: relative;
        top: -5.15em;
        right: -47%;
    }
    #src_input{
        width: 200px;
    }
    nav ol li #c_name_wrp{
        display: block;
        position: absolute;
        margin-top:-10em ;
        margin-left: -75%;
    }
    #menu_bar{
        display: block;
        position: absolute;
        margin-top:-5.3em ;
        margin-left: -0.2em;
        text-align: center;
    }
    #paginations{
        position: absolute;
        margin-left: 1%;
    }
    #table{
        position: relative;
        top: 43em;
        left: -23em;
    }
    #tbl_w_usr{
        overflow-x: auto;
        height: 600px;
        width: 100%;
    }
    #tbl_w{
        overflow-x: auto;
        height: 700px;
        width: 100%;
    }
    #user{
        overflow: scroll;
    }
    #paginations_user{
        margin-left: 10px;
    }
    #wrp_ad_usr:target{
        height: 100vh;
    }
    #wrp_ad_usr:target #content_ine{
        margin: -1em -5.5em ;
        overflow: hidden;
    }
    #wrp_edit:target #content_o #content_ine{
        position: absolute;
        margin: 5em 0 0 -5.2em ;
    }
    #wrp_tbh:target #content{
        left: 17.5%;
        right: 50%;
        top: 15%;
    }
    #wrp_edit:target #content_o #content_ine{
        position: absolute;
        margin: 5em 0 0 -5.2em ;
        height: 100vh;
    }
    #conten_wrp_edit:target #content_o #content_ine {
        margin-left: -5em;
   }
  }

/* edit produk */

#content_ine{
    text-align: center;
    background-color: #000957;
    width: 500px;
    height: fit-content;
    padding: 1em;
    border-radius: 20px;
    display: none;
}

#userinput_tambah_g_e{
    margin: 1em 34%;
    text-align: center;
    padding: 10px 2em ;
    width: max-content;
    border: none;
    border-radius: 3px;
    background-color: white;
    color: black;
    font-size: 1em;
  }
  #l_gambar_e{
    cursor:pointer;
  }
  #addphoto_edit{
    color:green;
  }
  #gambarproduk_e{
    display: none;
  }
  #btn_benar_e{
    padding: 1em;
    background-color: #2AFF07;
    font-size: large;
    border: none;
    border-radius: 5px;
}
#btn_salah_e{
    padding: 1em;
    background-color: red;
    font-size: large;
    border: none;
    border-radius: 5px;
    margin-top: 1em;
}
/* tergeted */
#wrp_edit:target #content_o #content_ine {
    display: block;
    transition: 0.56s;
    position: absolute;
    left: 30%;
    right: 50%;
    top: 3%;
}
#wrp_edit:target  {
    position: absolute;
    top: 0;
    bottom: 0;
    right: -10em;
    left: -10em;
    width: 150%;
    height: 160%;
    background-color: rgb(0, 0, 0,.5);
}

/* tambah user */

#namauser,#username_ad_usr,#nohandphone,#password_ad_usr ,#repassword_ad_usr{
    margin-top: 1em;
    padding: 1em;
    border: none;
    border-radius: 3px;
    background-color: white;
    color: black;
    font-size: 1.2em;
}
#namauser::placeholder,#nohandphone::placeholder,#username_ad_usr::placeholder,#nohandphone::placeholder,#password_ad_usr::placeholder,#repassword_ad_usr::placeholder{
    font-size: x-large;
    color: black;
}

#wrp_ad_usr:target #content_o #content_ine {
    display: block;
    transition: 0.56s;
    position: absolute;
    left: 30%;
    right: 50%;
    top: 14%;
}
#wrp_ad_usr:target  {
    position: absolute;
    top: 0;
    bottom: 0;
    right: -10em;
    left: -10em;
    width: 150%;
    height: 150%;
    background-color: rgb(0, 0, 0,.5);
}

#conten_wrp_edit:target #content_o #content_ine {
    display: block;
    transition: 0.56s;
    position: absolute;
    left: 30%;
    right: 50%;
    top: 15%;
}
#conten_wrp_edit:target  {
    position: absolute;
    top: 0;
    bottom: 0;
    right: -10em;
    left: -10em;
    width: 150%;
    height: 150%;
    background-color: rgb(0, 0, 0,.5);
}
/* isoleated */